<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.github.url }}/gallery">Gallery</a></li>
            <li><a href="{{ site.github.url }}/menus">Menus</a></li>
            <li><a href="{{ site.github.url }}/events">Events</a></li>
            <li><a href="{{ site.github.url }}/sports">Sports Fixtures</a></li>
            <li><a href="{{ site.github.url }}/offers">Offers</a></li>
            <li><a href="{{ site.github.url }}/contact">Contact</a></li>
          </ul>
        </div>
        <p></p>
      </div>
    </div>
  </div>
</footer>
